---
const siteName = "Omar's Digital Garden";
import NavBar from "../components/navBar.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Yo</title>
	</head>
	<body>
		<NavBar />
		
		<h1>{siteName}</h1>
		<p>Yo</p>
		
	</body>
</html>
